# /opt/hangkh/.env — created by deploy/server-init.sh with random secrets (chmod 600). Reference only — never put values in Git.
DOMAIN_ROOT=hangkh.com
DOMAIN_HUB=hub.hangkh.com
DOMAIN_ONETEAM=oneteam.hangkh.com
ACME_EMAIL=
POSTGRES_ADMIN_PASSWORD=
DB_PASSWORD_HUB=
DB_PASSWORD_ONETEAM=
SESSION_SECRET_HUB=
SESSION_SECRET_ONETEAM=
HUB_KEY_ONETEAM=
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=hangkh_bot
TELEGRAM_WEBHOOK_SECRET=
NAME_ONETEAM=One Team Engineering
APP_NAME_ONETEAM=One Team Service
FEATURES_ONETEAM=subscribe
